# Do not include azure-functions-worker as it may conflict with the Azure Functions platform

azure-functions
azure-cognitiveservices-language-luis
librosa
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability