# Do not include azure-functions-worker as it may conflict with the Azure Functions platform

azure-functions
azure-cognitiveservices-language-luis
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability